{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock title %}

{% block body %}class="bg-gray-50"{% endblock body %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-50 antialiased">
  <div class="container sm:mt-40 mt-24 my-auto max-w-md border-2 border-gray-200 rounded-[20px] p-3 bg-white">
    <!-- header -->  
    <div class="text-center m-6">
      <h1 class="text-3xl font-semibold text-gray-900">Reset Your Password</h1>
      <p class="text-gray-700">Please enter your new password below.</p>
    </div>
    <!-- password reset form -->
    <div class="m-6">
      <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="mb-6">
          <label for="new_password1" class="block mb-2 text-sm text-gray-700">New Password</label>
          <input type="password" name="new_password1" id="new_password1" placeholder="New password" class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300">
          <div class="text-red-600 text-sm mt-1">
              {{ form.new_password1.errors }}
          </div>
        </div>
        <div class="mb-6">
          <label for="new_password2" class="block mb-2 text-sm text-gray-700">Confirm New Password</label>
          <input type="password" name="new_password2" id="new_password2" placeholder="Confirm new password" class="w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300">
          <div class="text-red-600 text-sm mt-1">
              {{ form.new_password2.errors }}
          </div>
        </div>
        <div class="mb-6">
          <button type="submit" class="w-full px-3 py-4 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none duration-100 ease-in-out">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

