{% extends 'base.html' %}


{% block content %}

    <!-- Main Content -->
    <main>
        <!-- Gradient Section -->
        <section class="bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 text-white text-center py-16">
            <p class="text-5xl font-bold mb-8">Find your Tech solution</p>
            <p class="max-w-3xl mx-auto text-lg text-gray-200">
                At Chfiha, our mission is to simplify tech solutions for clients, offering intuitive services that meet your needs efficiently and effectively.
            </p>
        </section>

        <!-- Services Section -->
        <section class="bg-gradient-to-b from-gray-100 to-white py-12">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                    {% for service in services %}
                    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                        <div class="bg-gradient-to-r from-green-400 via-blue-500 to-purple-600 h-28 flex items-center justify-center rounded-t-lg">
                            <h3 class="text-white text-xl font-semibold">{{ service.title }}</h3>
                        </div>
                        <div class="p-6 bg-white">
                            <p class="text-gray-600">{{ service.description }}</p>
                            <div class="mt-4">
                                <p class="text-gray-700 font-bold text-lg">${{ service.price_essential }}</p>
                            </div>
                            <div class="mt-4">
                                <a href="{% url 'service' pk=service.pk %}" class="block w-full text-center text-white bg-indigo-500 hover:bg-indigo-600 py-2 rounded-lg text-sm font-semibold">Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Free Consultation Section -->
        <section class="bg-gray-200 text-gray-900 text-center py-16">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <h2 class="text-4xl font-bold mb-4">Get your free consultation today!</h2>
                <p class="mb-8">For a limited time offer, take advantage of our expert consultation services.</p>
                <a href="{% url 'booking' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Schedule Now</a>
            </div>
        </section>
    </main>

{% endblock content %}
